<!doctype html> 
<html lang="en" class="no-js"> 
<head> 
  <meta charset="gb2312" /> 
  <title>ORC</title> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/style.css" />
  <link rel="icon" href="../static/img/logo.jpg" />
  <script type='text/javascript' src='../static/js/jquery-1.11.1.min.js'></script>
  <script type='text/javascript' src='../static/js/jquery.particleground.min.js'></script>
  <script type='text/javascript' src='../static/js/demo.js'></script>
</head> 

<body>

<div id="particles">
	<div class="intro">
		<h1>Welcome to OCR</h1>
		<p>Printed character recognition on pictures</p>
		<a href="/show" class="btn">Let's start!</a>
	</div>
</div>

</body> 
</html> 